
@import url("../../App.css");

.App-logo {
    width: 100px;
    padding: 20px;
    display: inline-block;
}

.App-menu {
    width: 200px;
    padding: 20px;
    display: inline-block;
}

.App-menu-button {
    width: 32px;
    height: 32px;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.ChaptersList {
    width: 70%;
    margin-left: 15%;
    display: flex;
    padding: 2px;
    cursor: pointer;
}

.ChaptersList-id {
    padding-right: 5px;
    color: green;
}

.ChaptersList-name {
    font-family: "Times New Roman", Times, serif;
    color: greenyellow;
}

.ChaptersList-ar-name {
    margin-left: auto;
    font-family: "uthmanV2";
    color: goldenrod;
}

.ChaptersList-line {
    width: 70%;
}

.Menu {
    display: flex;
    padding-top: 6px;
  }

.Menu-icon {
      width: 12px;
      height: 12px;
      padding-left: 8px;
      cursor: pointer;
}
  
