@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(202, 202, 201);
  --background: #3b423c;
  --background-hover: #363d2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b423c;
  }
}
html {
  font-size: 24px; 
}

body {
  color: var(--foreground);
  background: var(--background);
  text-align: center;
  margin: auto;
}

@font-face {
  font-family: "uthmanV2";
  src: local("uthmanV2"), url("../fonts/uthmani.otf");
}

@font-face {
  font-family: "numberFont";
  src: local("numberFont"), url("../fonts/numbers.ttf");
}

