@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 24px; 
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  text-align: center;
  margin: auto;
}

@font-face {
  font-family: "uthmanV2";
  src: local("uthmanV2"), url("../fonts/uthmani.otf");
}

@font-face {
  font-family: "numberFont";
  src: local("numberFont"), url("../fonts/numbers.ttf");
}

