.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.App {
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: auto;
}

.App-logo {
    width: 100px;
    padding: 20px;
    display: inline-block;
}

.App-menu {
    width: 200px;
    padding: 20px;
    display: inline-block;
}

.App-menu-button {
    width: 32px;
    height: 32px;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.ChaptersList {
    width: 70%;
    margin-left: 15%;
    display: flex;
    padding: 2px;
    cursor: pointer;
}

.ChaptersList-id {
    padding-right: 5px;
    color: green;
}
.ChaptersList-name {
    font-family: "Times New Roman", Times, serif;
    color: greenyellow;
}
.ChaptersList-ar-name {
    margin-left: auto;
    font-family: "uthmanV2";
    color: goldenrod;
}
.ChaptersList-line {
    width: 70%;
}

.ChapterPage {
    padding: 12px;
}

.AyaArea {
    padding: 3px;
}
.AyaArea-besm{
  font-family: "uthmanV2";
  font-size: larger;
  padding-bottom: 20px;
}
.AyaArea-hr {
    opacity: 0.4;
}
.AyaArea-aya-menu {
  display: flex;
  padding-top: 6px;

}
.AyaArea-icon {
    width: 12px;
    height: 12px;
    padding-left: 8px;
    cursor: pointer;
}

.AyaArea-ar {
    direction: rtl;
    display: flex;
}
.AyaArea-ar-id {
    color:green;
    padding-left: 6px;
    font-family: "uthmanV2";
    font-size: small;
}
.AyaArea-ar-text {
    font-family: "uthmanV2";
    text-align: justify;
    color: greenyellow;
}

@font-face {
    font-family: "uthmanV2";
    src: local("uthmanV2"), url("./fonts/uthmanTN_v2-0.ttf") format(".ttf");
}
