.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.App {
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: auto;
}

@font-face {
    font-family: "uthmanV2";
    src: local("uthmanV2"), url("./fonts/uthmanTN_v2-0.ttf") format(".ttf");
}
